CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_DEFAULT_DEVICE_TREE="allwinner/sun50i-h713-hy310"
CONFIG_DRAM_CLK=720
CONFIG_SPL=y
# H713/HY310 stock BT0: clk=720, type=7 (LPDDR3), zq=0x003f3ffb,
# odt/flags=0x31, para1=0x10f410f4, para2=0x04000000.
CONFIG_DRAM_SUNXI_DX_ODT=0x03030303
CONFIG_DRAM_SUNXI_DX_DRI=0x0e0e0e0e
CONFIG_DRAM_SUNXI_CA_DRI=0x1c12
CONFIG_DRAM_SUNXI_ODT_EN=0x31
CONFIG_DRAM_SUNXI_ZQ=0x003f3ffb
CONFIG_DRAM_SUNXI_PARA1=0x10f410f4
CONFIG_DRAM_SUNXI_PARA2=0x04000000
CONFIG_DRAM_SUNXI_MR0=0x00000000
CONFIG_DRAM_SUNXI_MR1=0x000000c3
CONFIG_DRAM_SUNXI_MR2=0x0000000a
CONFIG_DRAM_SUNXI_MR3=0x00000002
CONFIG_DRAM_SUNXI_TPR0=0x0049225a
CONFIG_DRAM_SUNXI_TPR1=0x01b1b1d0
CONFIG_DRAM_SUNXI_TPR2=0x0004c02c
CONFIG_DRAM_SUNXI_TPR3=0xb4787896
CONFIG_DRAM_SUNXI_TPR4=0x00000000
CONFIG_DRAM_SUNXI_TPR5=0x48484848
CONFIG_DRAM_SUNXI_TPR6=0x00000048
CONFIG_DRAM_SUNXI_TPR7=0x1621121e
CONFIG_DRAM_SUNXI_TPR8=0x00000000
CONFIG_DRAM_SUNXI_TPR9=0x00000000
CONFIG_DRAM_SUNXI_TPR10=0x00007767
CONFIG_DRAM_SUNXI_TPR11=0x44650000
CONFIG_DRAM_SUNXI_TPR12=0x00005544
CONFIG_DRAM_SUNXI_TPR13=0xb4036223
CONFIG_MACH_SUN50I_H713=y
CONFIG_SUNXI_DRAM_H713_LPDDR3_STOCK=y
CONFIG_MMC_SUNXI_SLOT_EXTRA=2
CONFIG_MMC0_CD_PIN=""
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_SUPPORT_EMMC_BOOT=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_OHCI_HCD=y
